/* LOADING */
.loading {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  color: #0a5cff;
}

.trip-card {
  max-width: 100%;
  margin: 60px auto;
  padding: 50px;
  background: white;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}


/* HEADER */
.trip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
}

.trip-type {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.trip-price {
  font-size: 22px;
  font-weight: 700;
  color: #0a5cff;
}

/* FLIGHT */
.flight {
  padding: 20px 0;
  border-bottom: 1px dashed #ddd;
}

.flight:last-child {
  border-bottom: none;
}

.flight-header {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}

.flight-row {
  font-size: 15px;
  margin-bottom: 6px;
  color: #444;
}

.flight-row i {
  width: 18px;
  color: #0a5cff;
}

.flight-row.time {
  color: #666;
  font-size: 14px;
}

/* ERROR */
.error {
  color: #c62828;
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
